/** photo composition and animation effect **/
.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; // space between border and picture

    &--p1 {
      left: -6%;
      top: -1rem;
    }

    &--p2 {
      left: 42%;
      top: -5rem;
    }

    &--p3 {
      left: 48%;
      top: 14rem;
    }

    &--p4 {
      left: 40%;
      top: 33rem;
    }

    &:hover {
      outline: 1rem solid $color-primary;
      transform: scale(1.05) translateY(0.9rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
      z-index: 20;
    }

    &:hover &__photo:not(:hover) {
      transform: scale(0.85);
    }
  }
}
